@page
@model OnlineMedicine.Pages.Medicines.CreateModel
@{
}
@using OnlineMedicine.Models;

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<div>
    @if (!string.IsNullOrEmpty(ViewBag.Success))
    {
        <div class="alert alert-success">@ViewBag.Success</div>
    }
    @if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <div class="alert alert-danger">@ViewBag.Error</div>
    }
</div>
<h4>Medicine</h4>
<form asp-page="Import" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="excelFile">Import Excel File</label>
        <input type="file" name="excelFile" class="form-control" required />
    </div>
    <div class="form-group">
        <br />
        <input type="submit" value="Import" class="btn btn-primary" />
    </div>
</form>
<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-page="Create" method="post" id="imageForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.medicines.Name" class="control-label"></label>
                <input type="text" required name="name" class="form-control" />
                <span asp-validation-for="@Model.medicines.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.medicines.Category" class="control-label"></label>
                <select name="category" class="form-control">
                    @foreach (Models.Category c in Model.Categories)
                    {
                        <option value="@c.Id">@c.Name</option>
                    }

                </select>
            </div>
            <div class="form-group">
                <label asp-for="@Model.medicines.Price" class="control-label"></label>
                <input name="price" required type="number" class="form-control" />
                <span asp-validation-for="@Model.medicines.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.medicines.Quantity" required class="control-label"></label>
                <input name="quantity" required type="number" class="form-control" />
                <span asp-validation-for="@Model.medicines.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.medicines.ExpiredDate" class="control-label"></label>
                <input min="2024-07-21" name="expriedDate" required type="date" class="form-control" />
                <span asp-validation-for="@Model.medicines.ExpiredDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.medicines.Image" class="control-label"></label>
                <a href="https://imgbb.com/" target="_blank">Get link of image</a>
                <textarea name="image" class="form-control" id="imageUrl"></textarea>
                <span asp-validation-for="@Model.medicines.Image" class="text-danger" id="error-message"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.medicines.Descript" class="control-label"></label>
                <input type="text" required name="descript" class="form-control" />
                <span asp-validation-for="@Model.medicines.Descript" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.medicines.MinAge" class="control-label"></label>
                <input type="number" required name="minAge" class="form-control" />
                <span asp-validation-for="@Model.medicines.MinAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.medicines.Type" class="control-label"></label>
                <select name="typeId" class="form-control">
                    @foreach (Models.Type c in Model.Types)
                    {
                        <option value="@c.Id">@c.Name</option>
                    }

                </select>
            </div>
            <div class="form-group">
                <label asp-for="@Model.medicines.Country" class="control-label"></label>
                <select name="country" class="form-control">
                    @foreach (Models.Country c in Model.Countries)
                    {
                        <option value="@c.Id">@c.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    <script src="https://cdn.tiny.cloud/1/3wv6oxgsvjimdah8bfe0t3g2w0ftpyzxcwylgy7txp6jbtj8/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
        tinymce.init({
            selector: 'textarea#imageUrl',
            plugins: 'image',
            toolbar: 'image',
            menubar: false,
            forced_root_block: '',
            force_br_newlines: false,
            force_p_newlines: false,
            content_style: 'body { font-family: Helvetica, Arial, sans-serif; font-size: 14px }',
            setup: function (editor) {
                editor.on('keydown', function (e) {
                    e.preventDefault();
                });
            },
            file_picker_types: 'image',
            file_picker_callback: function (cb) {
                var input = document.createElement('input');
                input.setAttribute('type', 'file');
                input.setAttribute('accept', 'image/*');

                input.onchange = function () {
                    var file = this.files[0];

                    if (!file) {
                        return;
                    }

                    resizeAndProcessImage(file, cb);
                };

                input.click();
            }
        });


        function resizeAndProcessImage(file, cb) {
            if (file.size > 2 * 1024 * 1024) { // 2MB
                resizeImage(file, 500, function (resizedFile) {
                    processResizedFile(resizedFile, cb);
                });
            } else {
                processResizedFile(file, cb);
            }
        }

        function resizeImage(file, maxSizeKB, callback) {
            var reader = new FileReader();
            reader.onload = function (e) {
                var img = new Image();
                img.src = e.target.result;

                img.onload = function () {
                    var canvas = document.createElement('canvas');
                    var ctx = canvas.getContext('2d');

                    var maxWidth = img.width;
                    var maxHeight = img.height;

                    var ratio = 1;
                    if (img.width > maxWidth) {
                        ratio = maxWidth / img.width;
                    } else if (img.height > maxHeight) {
                        ratio = maxHeight / img.height;
                    }

                    canvas.width = img.width * ratio;
                    canvas.height = img.height * ratio;

                    ctx.drawImage(img, 0, 0, canvas.width, canvas.height);

                    canvas.toBlob(function (blob) {
                        var resizedFile = new File([blob], file.name, { type: file.type });
                        callback(resizedFile);
                    }, file.type, maxSizeKB / 1000);
                };
            };

            reader.readAsDataURL(file);
        }

        function processResizedFile(resizedFile, cb) {
            var id = 'blobid' + (new Date()).getTime();
            var blobCache = tinymce.activeEditor.editorUpload.blobCache;
            var reader = new FileReader();

            reader.onload = function () {
                var base64 = reader.result.split(',')[1];
                var blobInfo = blobCache.create(id, resizedFile, base64);
                blobCache.add(blobInfo);

                cb(blobInfo.blobUri(), { title: resizedFile.name });
            };

            reader.readAsDataURL(resizedFile);
        }
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

